.centered-block {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
}

.text {
	font-size: 1.2em;
	color: $gray;
}

.category {
	font-family: 'Antic Slab', serif;
	font-size: 1.5em;
	color: $black;
	text-decoration: underline;
	text-align: center;

	&:hover {
		color: $light-gray;
	} 
}

.dash {
	color: $dark-white;
}

.title {
	font-family: 'Antic Slab', serif;
	font-size: 35px;
	font-weight: bold;
	color: $black;

	&:hover {
		color: $black;
	}
}
